.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 400px;
  margin-bottom: 40px;
  padding: 0 4px;
  overflow-y: auto;
}

.fillings {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 4px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bun_bottom :global(img) {
  transform: rotateY(180deg) rotateZ(180deg);
}

@media (width <= 1259px) {
  .footer {
    width: 100%;
    max-width: 240px;
  }
}

@media (width <= 1200px) and (width >= 801px) {
  .burger_constructor {
    width: calc(600px * 0.8);
    padding-bottom: 16px;
  }

  .stack {
    max-height: 320px;
    margin-bottom: 32px;
  }

  .footer {
    gap: 16px;
  }

  .total {
    gap: 6px;
  }

  :global(.text_type_digits-medium) {
    font-size: calc(1rem * 0.85);
  }

  :global(.text_type_main-default) {
    font-size: calc(0.875rem * 0.85);
  }
}

@media (width <= 800px) {
  .burger_constructor {
    order: 2;
    width: 100%;
  }
}
