.form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 80px 16px 40px;
}

.title {
  margin: 0 0 24px;
  text-align: center;
}

.error {
  max-width: 480px;
  margin: 0 0 24px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 80px;
}

.linkLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 0;
}

.link {
  color: #4c4cff;
  text-decoration: none;
}
